[submodule "moodle-docker"]
	path = moodle-docker
	url = git@github.com:moodlehq/moodle-docker.git
	branch = main
[submodule "moodle"]
	path = moodle
	url = git@github.com:moodle/moodle.git
	branch = main
